# Data Preprocessing:

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('data.csv')

In [19]:
data.head()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,0,1,193,77,49,"3,9",19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,1,2,146,79,41,"3,6",19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,2,3,217,75,54,4,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,3,4,226,97,70,"3,2",20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,4,5,164,91,67,"2,4",20,female,70,141,20.2,122,86,32,39,0.82,No diabetes

Before removing the null data

In [20]:
data.shape

(780, 17)

After removing the null data

In [21]:
data.isnull()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
776,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
777,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
778,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
779,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [22]:
df = data.dropna()

In [23]:
df.shape

(780, 17)

In [24]:
df.columns

Index(['sl_no', 'patient_number', 'cholesterol', 'glucose', 'hdl_chol',
       'chol_hdl_ratio', 'age', 'gender', 'height', 'weight', 'bmi',
       'systolic_bp', 'diastolic_bp', 'waist', 'hip', 'waist_hip_ratio',
       'diabetes'],
      dtype='object')

In [25]:
df.isnull().sum()

sl_no              0
patient_number     0
cholesterol        0
glucose            0
hdl_chol           0
chol_hdl_ratio     0
age                0
gender             0
height             0
weight             0
bmi                0
systolic_bp        0
diastolic_bp       0
waist              0
hip                0
waist_hip_ratio    0
diabetes           0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 780 entries, 0 to 779
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sl_no            780 non-null    int64
 1   patient_number   780 non-null    int64
 2   cholesterol      780 non-null    int64
 3   glucose          780 non-null    int64
 4   hdl_chol         780 non-null    int64
 5   chol_hdl_ratio   780 non-null    object
 6   age              780 non-null    int64
 7   gender           780 non-null    object
 8   height           780 non-null    int64
 9   weight           780 non-null    int64
 10  bmi              780 non-null    float64
 11  systolic_bp      780 non-null    int64
 12  diastolic_bp     780 non-null    int64
 13  waist            780 non-null    int64
 14  hip              780 non-null    int64
 15  waist_hip_ratio  780 non-null    float64
 16  diabetes         780 non-null    object
dtypes: float64(2), int64(12), object(3)
memory usage: 109.7+ KB

In [27]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777    False
778    False
779    False
Length: 780, dtype: bool

In [28]:
df.duplicated().sum()

0

In [29]:
df.describe()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,age,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio
count,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000
mean,389.500000,390.500000,207.230769,107.338462,50.266667,46.774359,65.951282,177.407692,28.775641,137.133333,83.289744,37.869231,42.992308,0.881385
std,225.310896,225.310896,44.637327,53.763647,17.267975,16.425359,3.916351,40.381880,6.596677,22.844851,13.489525,5.757248,5.660705,0.073165
min,0.000000,1.000000,78.000000,48.000000,12.000000,19.000000,52.000000,99.000000,15.200000,90.000000,48.000000,26.000000,30.000000,0.680000
25%,194.750000,195.750000,179.000000,81.000000,38.000000,34.000000,63.000000,150.000000,24.100000,122.000000,75.000000,33.000000,39.000000,0.830000
50%,389.500000,390.500000,203.000000,90.000000,46.000000,44.500000,66.000000,173.000000,27.800000,136.000000,82.000000,37.000000,42.000000,0.880000
75%,584.250000,585.250000,229.000000,108.000000,59.000000,60.000000,69.000000,200.000000,32.300000,148.000000,90.000000,41.000000,46.000000,0.930000
max,779.000000,780.000000,443.000000,385.000000,120.000000,92.000000,76.000000,325.000000,55.800000,250.000000,124.000000,56.000000,64.000000,1.140000

In [30]:
df.columns

Index(['sl_no', 'patient_number', 'cholesterol', 'glucose', 'hdl_chol',
       'chol_hdl_ratio', 'age', 'gender', 'height', 'weight', 'bmi',
       'systolic_bp', 'diastolic_bp', 'waist', 'hip', 'waist_hip_ratio',
       'diabetes'],
      dtype='object')

In [31]:
df.gender.unique()

array(['female', 'male'], dtype=object)

In [32]:
df.age.unique()

array([19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 89, 91, 92],
      dtype=int64)

In [33]:
df.diastolic_bp.unique()

array([ 70,  58,  72,  64,  86,  82,  78,  90, 100, 110,  62,  85,  68,
        88,  76,  48,  75,  80,  99,  71,  95,  92,  84, 104, 106,  94,
        65,  52,  61,  60, 124, 108,  56, 112,  79,  87,  96,  66,  89,
        74,  83,  98, 122,  69,  73, 102, 115,  59, 114,  97, 120, 105,
        50,  81, 118,  53], dtype=int64)

In [34]:
df.cholesterol.unique()

array([193, 146, 217, 226, 164, 170, 149, 230, 179, 174, 132, 203, 135,
       187, 244, 165, 172, 223, 136, 175, 147, 229, 185, 228, 199, 134,
       169, 227, 155, 283, 220, 201, 238, 190, 204, 166, 241, 214, 151,
       184, 168, 189, 163, 181, 194, 158, 160, 144, 182, 145, 195, 207,
       192, 183, 176, 188, 209, 293, 305, 191, 213, 231, 262, 300, 248,
       224, 171, 150, 337, 239, 218, 122, 225, 197, 186, 178, 347, 245,
       215, 243, 156, 232, 212, 206, 302, 138, 159, 268, 251, 216, 200,
       211, 152, 173, 219, 180, 267, 234, 269, 270, 177, 208, 162, 322,
       254, 237, 202, 260, 233, 142, 242, 118, 266, 307, 255, 196, 140,
       284, 222, 249, 443, 261, 273, 296, 240, 148, 271, 157, 263, 129,
       404, 115, 221, 289, 198, 235, 277, 318, 279, 128, 143, 265, 236,
       342, 281, 246,  78, 205, 306, 210, 292, 252, 301], dtype=int64)

In [35]:
df.diabetes.unique()

array(['No diabetes', 'Diabetes'], dtype=object)

In [36]:
df.diabetes.value_counts()

No diabetes    660
Diabetes       120
Name: diabetes, dtype: int64

In [37]:
pd.crosstab(df.diabetes,df.age)

age,19,20,21,22,23,24,25,26,27,28,...,78,79,80,81,82,83,84,89,91,92
diabetes,,,,,,,,,,,,,,,,,,,,,
Diabetes,0,0,0,0,0,0,0,2,0,0,...,0,2,2,0,0,0,2,0,2,0
No diabetes,4,20,12,10,14,2,8,10,18,16,...,8,2,2,2,4,2,0,2,0,2

In [38]:
pd.crosstab(df.gender,df.diabetes)

diabetes  Diabetes  No diabetes
gender
female          68          388
male            52          272

In [39]:
df.corr()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,age,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio
sl_no,1.000000,1.000000,0.126045,0.153861,-0.000421,0.494443,-0.031756,-0.021075,-0.001485,0.225474,0.042077,0.078234,0.006249,0.137341
patient_number,1.000000,1.000000,0.126045,0.153861,-0.000421,0.494443,-0.031756,-0.021075,-0.001485,0.225474,0.042077,0.078234,0.006249,0.137341
cholesterol,0.126045,0.126045,1.000000,0.158102,0.193162,0.247333,-0.063601,0.062359,0.091695,0.207741,0.166241,0.134038,0.093364,0.091847
glucose,0.153861,0.153861,0.158102,1.000000,-0.158302,0.294392,0.098052,0.190358,0.129286,0.162777,0.020262,0.222336,0.138223,0.185117
hdl_chol,-0.000421,-0.000421,0.193162,-0.158302,1.000000,0.028210,-0.087238,-0.291883,-0.241860,0.031807,0.078342,-0.276697,-0.223837,-0.158777
age,0.494443,0.494443,0.247333,0.294392,0.028210,1.000000,-0.082229,-0.056784,-0.009164,0.453417,0.068649,0.150585,0.004675,0.275188
height,-0.031756,-0.031756,-0.063601,0.098052,-0.087238,-0.082229,1.000000,0.255389,-0.259589,-0.040704,0.043617,0.057447,-0.095906,0.252548
weight,-0.021075,-0.021075,0.062359,0.190358,-0.291883,-0.056784,0.255389,1.000000,0.860147,0.097497,0.166477,0.847766,0.826985,0.250461
bmi,-0.001485,-0.001485,0.091695,0.129286,-0.241860,-0.009164,-0.259589,0.860147,1.000000,0.121408,0.145304,0.810701,0.881728,0.100873
systolic_bp,0.225474,0.225474,0.207741,0.162777,0.031807,0.453417,-0.040704,0.097497,0.121408,1.000000,0.603662,0.210934,0.155321,0.137871
diastolic_bp,0.042077,0.042077,0.166241,0.020262,0.078342,0.068649,0.043617,0.166477,0.145304,0.603662,1.000000,0.165846,0.143898,0.077918
waist,0.078234,0.078234,0.134038,0.222336,-0.276697,0.150585,0.057447,0.847766,0.810701,0.210934,0.165846,1.000000,0.835177,0.514177
hip,0.006249,0.006249,0.093364,0.138223,-0.223837,0.004675,-0.095906,0.826985,0.881728,0.155321,0.143898,0.835177,1.000000,-0.037664
waist_hip_ratio,0.137341,0.137341,0.091847,0.185117,-0.158777,0.275188,0.252548,0.250461,0.100873,0.137871,0.077918,0.514177,-0.037664,1.000000

In [40]:
df.columns

Index(['sl_no', 'patient_number', 'cholesterol', 'glucose', 'hdl_chol',
       'chol_hdl_ratio', 'age', 'gender', 'height', 'weight', 'bmi',
       'systolic_bp', 'diastolic_bp', 'waist', 'hip', 'waist_hip_ratio',
       'diabetes'],
      dtype='object')

Before LabelEncoder

In [41]:
df.head()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,0,1,193,77,49,"3,9",19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,1,2,146,79,41,"3,6",19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,2,3,217,75,54,4,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,3,4,226,97,70,"3,2",20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,4,5,164,91,67,"2,4",20,female,70,141,20.2,122,86,32,39,0.82,No diabetes

After LabelEncoder

In [42]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['gender']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [43]:
df.head()

,sl_no,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,0,1,193,77,49,"3,9",19,0,61,119,22.5,118,70,32,38,0.84,No diabetes
1,1,2,146,79,41,"3,6",19,0,60,135,26.4,108,58,33,40,0.83,No diabetes
2,2,3,217,75,54,4,20,0,67,187,29.3,110,72,40,45,0.89,No diabetes
3,3,4,226,97,70,"3,2",20,0,64,114,19.6,122,64,31,39,0.79,No diabetes
4,4,5,164,91,67,"2,4",20,0,70,141,20.2,122,86,32,39,0.82,No diabetes